<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
</head>
<body>
<h1>Books:</h1>

<p style="color:green;" th:text="${message}"/>

<table>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Author</th>
        <th colspan="2">Action</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td><a th:href="@{'/books/delete/'+${book.id}}">delete</a></td>
        <td><a th:href="@{'/books/edit/'+${book.id}}">edit</a></td>
    </tr>
</table>

<p><a th:href="@{'/books/add'}">Add book</a></p>

</body>
</html>